@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --red: #ff3838;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: white;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Hamburger menu start */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 1600px;
    height: 1600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
    font-size: 25px;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-weight: 550;
	text-transform: uppercase;
	margin: .75rem;
	transition: .3s;
	font-size: 30px;
	display: inline-block;
}

.menu > div > div > ul > li > a:hover{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid gray; 
    color: white;
    cursor: pointer;
    font-size: 30px;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
    letter-spacing: 4px;
    background: gray;
    transition: .1s linear;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

/* Hamburger Menu End */

/* Fade-in start */

/* h2-fade start */
#h2-fade {
    -webkit-animation:  h2-fade 2s both;
    -moz-animation:  h2-fade 2s both;
    -o-animation:  h2-fade 2s both;
    animation:  h2-fade 2s both;
}
@-webkit-keyframes h2-fade {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
        -webkit-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes h2-fade {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
        -moz-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        -moz-transform: translateY(0);
    }
}
@-o-keyframes h2-fade {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
        -o-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
        -o-transform: translateY(0);
    }
}
@keyframes h2-fade {
    0%{
        opacity: 0;
        transform: translateX(-50px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
}
/* h2-fade end */

/* p-fade start */
#p-fade {
    -webkit-animation:  h2-fade 2.5s both;
    -moz-animation:  h2-fade 3s both;
    -o-animation:  h2-fade 3s both;
    animation:  p-fade 3s both;
}
@-webkit-keyframes p-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes p-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes p-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes p-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* p-fade end */

/* btn-fade start */
#btn-fade {
    -webkit-animation:  h2-fade 3.5s both;
    -moz-animation:  h2-fade 3.5s both;
    -o-animation:  h2-fade 3.5s both;
    animation:  btn-fade 3.5s both;
}

@-webkit-keyframes btn-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes btn-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes btn-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes btn-fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* btn-fade end */



/* Fade-in end*/

/* Home Page Start */

.container{
	position: relative;
	height: 100vh;
	width: 100vw;
	background: 
    url("../images/ezgif.com-gif-maker.gif") no-repeat;
	background-size: cover;
	background-position: 50% 36%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.content{
	position: relative;
    max-width: 700px;
    padding: 2rem;
    z-index: 1;
}

.content h2{
	color: white;
	font-family: "Dancing Script", cursive;
	font-size: 100px;
	margin-bottom: 0.8rem;
}

.content p{
	color: white;
	font-size: 35px;
	font-weight: 100;
    margin-bottom: 0.75rem;
}

.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid gray;
    color: gray;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.btn::before{
    content: ' ';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: gray;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}

/* Home Page End */







/* Media Queries Start */
