@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    color: black;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    animation: transitionIn 2s;
    flex-direction: column;
}

/* Hamburger menu start */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 1600px;
    height: 1600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
    font-size: 25px;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: white;
	font-weight: 550;
	text-transform: uppercase;
	margin: .75rem;
	transition: .3s;
	font-size: 30px;
	display: inline-block;
    background: black;
    padding: 10px;
}

.menu > div > div > ul > li > a:hover{
    background-color: black;
    color: gray;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

/* Hamburger Menu End */

/* Home Page Starts */
.container {
    position: absolute;
    background-image: url(../images/statistics-home-1.jpeg), url(../images/statistics-home-2.jpeg), url(../images/Home-1.jpeg), url(../images/statistics-home-4.jpeg), url(../images/Home-2.jpeg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
    animation-delay: 6s;
}

.container.bg_already_splashed {
    animation-delay: none;
}

@keyframes animate {
    0%, 100% {
        background-image: url(../images/statistics-home-1.jpeg);
    }
    20% {
        background-image: url(../images/statistics-home-2.jpeg);
    }
    40%{
        background-image: url(../images/Home-1.jpeg);
    }
    60% {
        background-image: url(../images/statistics-home-4.jpeg);
    }
    80% {
        background-image: url(../images/Home-2.jpeg);
    }
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.details p {
    animation: fade-in-after ease-in 2s;
    animation-delay: 6s;
}

.details h1 {
    font-size: 3em;
    color: white;
    animation: fade-in ease-in 1s;
    animation-delay: 6s;
}

@keyframes fade-in {
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-after{
    0%, 25%, 35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    padding: 10px;
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
    font-size: 15px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
    animation: fade-in-after-p 3s ease-in;
    animation-delay: 6s;
}

.btn::before{
    content: ' ';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: gray;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}

@keyframes fade-in-after-p {
    0%, 35% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}


.btn.fade-in-already {
    animation: none;
    animation-delay: none;
}

.details h1.h1-fade-in-already {
    animation: none;
    animation-delay: none;
}

p.p-fade-in-already {
    animation: none;
    animation-delay: none;
}


/* Intro */
.splash {
    background: black;
    z-index: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 4s;
}

.splash-content {
    color: white;
    transform: translateY(11em);
}

.splash.display-none{
    opacity: 0;
    z-index: 0;
    transform: translateY(-100%);
    transition: 1.5s;
}

.splash.post_animated {
    display: none;
}

#content1 {
    animation: come-in-first 2s ease-in;
}

#content2 {
    animation: come-in-second 3s ease-in;
}

#content3 {
    transform: translate(4px, 11em);
    animation: come-in-third 4s ease-in;
}

@keyframes come-in-first {
    0% {
        transform: translateY(13em);
        opacity: 0;
    }
}

@keyframes come-in-second {
    0%, 50% {
        transform: translateY(11.5em);
        opacity: 0;
    }
}

@keyframes come-in-third {
    0%, 60% {
        transform: translate(4px, 11.5em);
        opacity: 0;
    }
}




  
/* Media Queries Start */

@media (max-width:425px) {
    .details h1 {
        font-size: 2em;
    }

    .details p {
        margin-top: 10px;
        font-size: 15px;
    }

    .details .btn {
        size: 75%;
    }

    .container {
        background-position: center;
    }
}