@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    color: black;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:black;
    animation: transitionIn 2s;
}


/* Hamburger menu start */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 1600px;
    height: 1600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
    font-size: 25px;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: white;
	font-weight: 550;
	text-transform: uppercase;
	margin: .75rem;
	transition: .3s;
	font-size: 30px;
	display: inline-block;
    background: black;
    padding: 10px;
}

.menu > div > div > ul > li > a:hover{
    background-color: black;
    color: gray;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

/* Hamburger Menu End */

/* Scroll Starts */

.spacer {
	font-size: 7em;
}
.scroll {
	font-size: 4em;
	padding: 2em;
}

.scroll-order {
	opacity: 0;
}

.scroll-order-show {
	opacity: 1;
	color: white;
	transition: ease-in 0.75s;
}

#last-spacer {
	font-size: 4em;
}
/* Scroll Ends */

/* Home */
#note {
	color: white;
	padding: 10px;
	font-size: 2em;
}

#map {
	height: 50em; width: 75em;
    z-index: 1;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 0;
}

.container .card {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.container .card .content {
	padding: 20px;
	text-align: center;
	transition: 0.5s;
	transform: translateY(100px);
	opacity: 0;
}

.container .card:hover .content {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .content h2 {
	position: absolute;
	top: -60px;
	font-size: 6em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}

.container .card .content #south{
	right: 1.5px;
	font-size: 5.5em;
}

.container .card .content #north {
	right: 4px;
	font-size: 5.5em;
}

.container .card .content #west {
	right: 15px;
	font-size: 6em;
}
.container .card .content h3 {
	font-size: 1.8em;
	color: #fff;
	z-index: 1;
}

.container .card .content p {
	font-size: 1em;
	color: #fff;
	font-weight: 300;
}

.click_on {
	color: white;
	padding: 20px;
	display: none;
}

/* Home Ends */

/* Home Two Starts */
.dive {
	font-size: 10em;
	color: white;
	padding: 2.5em;
}

#map2 {
	height: 30em; width: 50em;
    z-index: 1;
	position: center;
	margin-top: 20px;
	padding: 20px;
	border-radius: 20px;
	display: flex;
}

.dive-north {
	color: white;
	font-size: larger;
}

.north {
	font-size: 3em;
}

.north-bp {
	float: right;
	padding-top: 30px;
}
/* Home Two Ends */






