@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #082032;
}

.wrapper {
    display: flex;
}

.wrapper .static-txt{
    text-align: center;
    color:#fff;
    font-size: 64px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #ff4c29;
    font-size: 54px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation:  slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}


.dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #082032;
    animation: typing 3s steps(23) infinite;
}


@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

/* Navbar */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #082032
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0; left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #082032;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(17, 0, 255, 0.1);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover{
    color: black;
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border:.1rem solid #666;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}

.logo {
    height: 100;
    width: auto;
}