@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --red: #ff3838;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection {
    background: var(--red);
    color: #fff;;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: white;
}

section {
    padding: 2rem 9%;
}

header {
    position: relative;
    top: 0; left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover{
    color: black;
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    padding:.5rem 1.5rem;
    display: none;
}

.logo {
    height: 100; 
    width: auto;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/ezgif.com-gif-maker.gif) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}
.home .image {
    width: 450px;
    height: auto;
}
.home .image img{
    width: 75%;
    padding: 1rem;
}

.home .content h3 {
    font-size: 5rem;
    color: #fff;
    padding: .8rem 3rem;
    background-color: rgb(130, 130, 130);
    animation: float2 2s linear;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

.home .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    padding: .8rem 3rem;
    border-radius: 3rem;
    background-color: rgb(130, 130, 130);
    animation: float2 2.5s linear;
}


.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    animation: float2 3s linear;
    margin-bottom: 10px;
}

.btn::before{
    content: ' ';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}





/* Footer */

.footer {
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div {
    text-align: center;
}
.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.col-1, .col-2, .col-3 h3 {
    font-size: 25px;
}

.col-3 p {
    text-transform: lowercase;
    background-color: transparent;
    font-size: 2rem;
}

#github-social {
    margin-top: 30px;
} #github-social i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

#email-social {
    margin-top: 30px;
} #email-social i {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

#instagram-social {
    margin-top: 30px;
} #instagram-social i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

#spotify-social {
    margin-top: 30px;
} #spotify-social i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

}

@media (max-width:768px) {
    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: ease-in-out; 
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid var(--red);
        background: white; 
    }
}

@media (max-width:400px) {
    html {
        font-size: 50%;
    }
}