@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
*::selection {
    color: black;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    animation: transitionIn 2s;
    flex-direction: column;
}

/* Hamburger menu start */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 1600px;
    height: 1600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
    font-size: 25px;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-weight: 550;
	text-transform: uppercase;
	margin: .75rem;
	transition: .3s;
	font-size: 30px;
	display: inline-block;
}

.menu > div > div > ul > li > a:hover{
    border: solid 0.1em gray;
    padding: 0.8rem 2rem ;
    border-radius: 0.2em;
    background-color: black;
    color: white;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

/* Hamburger Menu End */

/* Information Page Starts */
.slider {
   width: 100%;
   height: 100vh;
}

.slider .controls {
    transform: translate(698.5px, 400px);
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
}

.slider .controls > div {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.slider .controls > .up {
    top: 0px;
    right: 0px;
    background: #fff;
    color: #111;
}

.slider .controls > .down {
    bottom: 0px;
    left: 0px;
    background: #111;
    color: #fff;
}

.slider .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.slider .wrapper .left, 
.slider .wrapper .right {
    width: 50%;
    overflow: hidden;
}

.slider .wrapper .left > div,
.slider .wrapper .right > div {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.slider .wrapper .left > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px 0px 50px;
}

.slider .wrapper .left > div h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.slider .wrapper .left > div p {
    color: black;
    font-size: 18px;
}

.slider .wrapper .right > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .wrapper .right div:nth-child(1) {
    margin-top: -400vh;
}

.section-title{
    opacity: 0;
    transition: all 3s;
}

.show1 {
    opacity: 1;
}

.text {
    opacity: 0;
    transition: all 4s;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    padding: 30px;
    font-size: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transform: translate(2px, 10px);
    margin-left: 10px;
}

.show2 {
    opacity: 1;
}

.show1, .show2, .show3 {
    animation: blur 2s;
}

@keyframes blur {
    0% {
        filter: blur(20px);
    }
    50% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

.first {
    background: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../images/statistics-background1.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}

.second {
    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), 
    url(../images/statisics-background2.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}

.third {
    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../images/statistics-background3.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}

.fourth {
    background: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../images/statistics-background4.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}

.fifth {
    background: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(../images/statistics-background5.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 36%;
}

.section-title {
    transition: all 4s;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transform: translate(5px, 1px);
    margin-left: 10px;
    color: white;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.information h6 {
    position: relative;
    transform: translate(43px, -10px);
}

.information {
    object-fit: cover;
}

/* Information Page Ends */

.intro {
    height: 100vh;
}
  
.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.intro-sec h1 {
    top: 50%;
    left: 50%;
    font-size: 80px;
    color: white;
}
  
.intro-sec, .intro-sec2 {
    height: 100vh;
    color: black;
}
  
.intro-sec h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
    color: white;
}

.intro-sec2 h2 {
    color: white;
    text-align: left;
    align-items: left;
    justify-content: left;
}
.intro-sec h2 {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-sec2 {
    margin-top: 20em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-sec2 h2 {
    margin-left: 10em;
    margin-top: 5em;
    margin-bottom: -20em;
}

.intro-sec2 h4 {
    margin-top: -20em;
    margin-left: -35em;
}

/* Intro Ends */

/* To WherePage Starts */

.towhere video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #111;
    height: none;
}
.towhere .video-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}
.towhere .header{
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
    padding: 10px;
}
/* To WherePage Ends */


/* Media Queries Start */

@media (max-width:1440px) {
    html {
        font-size: 125%;
    }
    
    .intro-sec2 h2 {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 8em;
        padding-top: 20px;
    }

    .slider .controls {
        transform: translate(33.5em, 25em);
    }
}

@media (max-width: 1024px) {
    .slider .controls {
        transform: translate(23.1em, 20em);
    }

    .text, .section-title {
        margin-bottom: 30px;
    }

    .information h6 {
        transform: translate(43px, -40px);
    }
}

@media (max-width: 768px) {
    .slider .wrapper .right {
        display: none;
        overflow: hidden;
    }

    .slider .wrapper .left{
        width: 100%;
        overflow: hidden;
    }

    .slider .controls {
        transform: translate(16em, 32em);
    }

    .slider .controls > .up {
        transform: translateY(50px);
    }
}

@media (max-width: 425px) {
    .text, .section-title {
        font-size: 20px;
        margin-bottom: 100px;
        padding: 20px;
    }
    
    .slider .controls {
        transform: translate(17em, 20em);
    }

    .slider .controls > .up {
        transform: translate(-50px, -1px);
    }

    .intro-sec2 h2{
        font-size: 25px;
        margin-right: 25px;
        transform: translateX(-100px);
    }
}

@media (max-width: 375px) {
    .section-tite {
        
    }
}