@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection {
    color: black;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #243c74;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Hamburger menu start */
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: white;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: .6s;
}

.menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 1600px;
    height: 1600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
    font-size: 25px;
}

.menu > div > div{
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-weight: 550;
	text-transform: uppercase;
	margin: .75rem;
	transition: .3s;
	font-size: 30px;
	display: inline-block;
}

.menu > div > div > ul > li > a:hover{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid gray; 
    color: white;
    cursor: pointer;
    font-size: 30px;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
    letter-spacing: 4px;
    background: gray;
    transition: .3s linear;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

/* Hamburger Menu End */

/* Home Page Starts */

.home-container{
	position: relative;
	height: 100vh;
	width: 100vw;
	background: 
    url("/Users/akdas/Desktop/Coded-by-Kids-HTML-Project/TESTING/images/ezgif.com-gif-maker.gif") no-repeat;
	background-size: cover;
	background-position: 50% 36%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.home-container:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.home-content{
	position: relative;
    max-width: 700px;
    padding: 2rem;
    z-index: 1;
}

.home-content h2{
	color: white;
	font-family: "Dancing Script", cursive;
	font-size: 100px;
	margin-bottom: 0.8rem;
}

.home-content p{
	color: white;
	font-size: 35px;
	font-weight: 100;
    margin-bottom: 0.75rem;
}

.home-container a {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid gray;
    color: gray;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.home-container a::before{
    content: ' ';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: gray;
    transition: .3s linear;
    z-index: -1;
}

.home-container a:hover::before {
    width: 100%;
    left: 0;
}

.home-container a:hover{
    color: #fff;
}

/* Home Page Ends */

/* Information Page Starts */

.section1, .section2, .section3, .section4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: white;
}

.section1:before, .section2:before, .section3:before, .section4:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}


.section1 {
    background: url(../images/statistics-background1.jpeg);
    background-size: cover;
	background-position: 50% 36%;
}

.section2 {
    background: url(../images/statisics-background2.jpeg);
    background-size: cover;
	background-position: 50% 36%;
}

.section3 {
    background: url(../images/statistics-background3.jpeg);
    background-size: cover;
	background-position: 50% 36%;
}

.section4 {
    background: url(../images/statistics-background4.jpeg);
    background-size: cover;
	background-position: 50% 36%;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-100px, 60px);
    margin-left: 50px;
}

.content .text-box h3 {
    font-size:2em;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 15px;
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.section-title{
    opacity: 0;
    transition: all 3s ;
}

.show1 {
    opacity: 1;
}

.image {
    opacity: 0;
    transition: all 3.5s;
}

.show2 {
    opacity: 1;
}

.text-box {
    opacity: 0;
    transition: all 4s;
}

.show3 {
    opacity: 1;
}

.show1, .show2, .show3 {
    animation: blur 2s;
}

@keyframes blur {
    0% {
        filter: blur(20px);
    }
    50% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

/* Information Page Ends */





/* Media Queries Start */
